include ../../pug/contents/index.pug

doctype html
html
  head
    meta(charset='utf-8')

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )

    meta(
      name='google-site-verification'
      content='J9ufqzow1A2hCXYFnsbjhCZs2ASSbvKrtSgNg1S-Rjs'
    )

    link(rel="apple-touch-icon" sizes="57x57" href="/image/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/image/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/image/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/image/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/image/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/image/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/image/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/image/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/image/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/image/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png")
    link(rel="manifest" href="/image/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/image/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    link(
      rel='stylesheet'
      href='/style/index.css'
    )

    //- include includes/head.pug



  body
    block navbar
      nav(class='navbar navbar-toggleable-md navbar-light fixed-top')
        .container
          .row.justify-content-center
            .col-md-10
              a(class='navbar-brand' href="/")
                span www.
                b makky
                span .io

          //- div(class="collapse navbar-collapse")
          //-   ul(class="navbar-nav mr-auto")
          //-     li(class="nav-item")
          //-       a(class="nav-link" href="/photo.html") photo
          //-     li(class="nav-item")
          //-       a(class="nav-link" href="/portfolio.html") portfolio

    block content

    block footer
      .bg-inverse.text-white.py-3
        .container
          .row.justify-content-center
            .col-md-10
              //- ul(class="nav")
              //-   li(class="nav-item")
              //-     a(class="nav-link" href="/index.html") top

              //-   li(class="nav-item")
              //-     a(class="nav-link" href="/photo.html") photo

              //-   li(class="nav-item")
              //-     a(class="nav-link" href="/portfolio.html") portfolio

              p(class='my-0')
                small &copy; makky.io All Rights Reserved.

    //- include includes/foot.pug
    //- script(
    //-   src='https://code.jquery.com/jquery-3.1.1.slim.min.js'
    //-   integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n'
    //-   crossorigin='anonymous'
    //- )
    //- script(
    //-   src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'
    //-   integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb'
    //-   crossorigin='anonymous'
    //- )
    //- script(
    //-   src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'
    //-   integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn'
    //-   crossorigin='anonymous'
    //- )

    script(src='/js/index.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47562530-1', 'auto');
      ga('send', 'pageview');


