extends pug/layouts/default.pug

block content
  section.section.py-5.bg-gradient
    .container.py-5
      .row.justify-content-center
        .col-md-6
          .card.my-5.card-block.card-v
            .row
              .col-md-4.hidden-sm-down
                img(src='/image/icon.png' width='100%' height='auto')
              .col-md-8
                h3.card-title Masaki Kobayashi
                hr
                dl
                  dt 所属:
                  dd
                    |筑波大学 図書館情報メディア研究科
                    br
                    |図書館情報メディア専攻

                  dt blog:
                  dd
                    a(href='//blog.makky.io') blog.makky.io

                  dt SNS:
                  dd
                    span
                      a(href='https://twitter.com/_Makky_' target='_brank')
                        i(class='fa fa-fw fa-lg fa-twitter')
                    span
                      a(href='https://www.facebook.com/masaki.kobayashi.1485' target='_brank')
                        i(class='fa fa-fw fa-lg fa-facebook')
                    span
                      a(href='https://www.instagram.com/makky3939/' target='_brank')
                        i(class='fa fa-fw fa-lg fa-instagram')
                    span
                      a(href='https://www.slideshare.net/masakikobayashi1485' target='_brank')
                        i(class='fa fa-fw fa-lg fa-slideshare')

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 About
          hr

    .container
      .row.justify-content-center
        .col-sm-10
          each ab in contents["about"]
            h2= ab["title"]
            ul
              each item in ab["items"]
                li= item

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Blog post
          hr

    .container
      .row.justify-content-center
        .col-sm-10
          p TBD
    //-       .row
    //-         each photo in contents["photos"][0]["albums"].slice(0, 6)
    //-           .col-sm-4.mb-3
    //-             .card
    //-               img(class='card-img-top' src=photo.thumbnail width='100%' hright='auto')
                
    //-               .card-footer
    //-                 span.text-muted= `${contents["photos"][0]["year"]}/${photo.month}`

      //- .row.justify-content-center
      //-   .col-sm-4.py-4
      //-     a(class='btn btn-primary btn-block' href='//blog.makky.io') show more blog posts

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Photo
          hr

    .container
      .row.justify-content-center
        .col-sm-10
          .row
            each photo in contents["photos"][0]["albums"].slice(0, 6)
              .col-sm-4.mb-3
                .card
                  .thumbnail-1x1(style='background-image: url(' + photo.thumbnail + ')')
                
                  .card-footer
                    span.text-muted= `${contents["photos"][0]["year"]}/${photo.month}`

      //- .row.justify-content-center
      //-   .col-sm-4.py-4
      //-     a(class='btn btn-primary btn-block' href='/photo.html') show more photos

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Portfolio
          hr

    .container
      .row.justify-content-center
        .col-sm-10
          .row
            each portfolio in contents["portfolios"]
              .col-sm-6.mb-3
                .card
                  .thumbnail-16x10(style='background-image: url(' + portfolio.thumbnails[0] + ')')
                  .card-footer
                    span.text-muted= `${portfolio.title}`

      //- .row.justify-content-center
      //-   .col-sm-4.py-4
      //-     a(class='btn btn-primary btn-block' href='/portfolio.html') show more portfolio