extends pug/layouts/default.pug

block content
  section.section.py-5.bg-gradient
    .container.py-5
      .row.justify-content-center
        .col-md-6.py-3
          .card.card-body.card-v
            h3.card-title= contents["common"]["name"]
            hr.mt-0
            p!= contents["common"]["majorin"]
            dl.mb-0
              dt Research Topics:
              dd
                each topic in contents["common"]["research_topics"]
                  span(class='px-1')= topic
            dl.mb-0
              dt Interests:
              dd
                each interest in contents["common"]["interests"]
                  span(class='px-1')= interest
              dt Links:
              dd
                each link in contents["common"]["links"]
                  a(href=link.url target='_brank')= link.name
                  br

              dt Accounts:
              dd
                each account in contents["common"]["accounts"]
                  span.mr-2
                    a(href=account.url target='_brank')
                      i(class="fa fa-fw fa-lg fa-" + account.name)

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 About
          hr

      .row.justify-content-center
        .col-sm-10
          each ab in contents["about"]
            h2= ab["title"]
            ul
              each item in ab["items"]
                li= item

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Blog post
          hr

      .row.justify-content-center
        .col-sm-10.js-blog-posts

      .row.justify-content-center
        .col-sm-10.text-center
          hr
          a(class='btn btn-primary' href='https://blog.makky.io') Show more blog posts

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Photo
          hr

      .row.justify-content-center
        .col-sm-10
          .row
            each photo in contents["photos"][0]["albums"].slice(0, 9)
              .col-sm-4.mb-3.col-6
                .card
                  .thumbnail-16x10(style='background-image: url(' + photo.thumbnail + ')')
                  .card-footer
                    a(href=photo.link target='_blank')
                      = `${contents["photos"][0]["year"]}/${photo.month}`

      .row.justify-content-center
        .col-sm-10.text-center
          hr
          a(class='btn btn-primary' href='https://www.facebook.com/masaki.kobayashi.1485') Show more photos

  section.section.py-5
    .container
      .row.justify-content-center
        .col-sm-10
          h1 Portfolio
          hr

      .row.justify-content-center
        .col-sm-10
          .row
            each portfolio in contents["portfolios"]
              .col-sm-6.mb-3
                .card
                  .thumbnail-16x10(style='background-image: url(' + portfolio.thumbnails[0] + ')')
                  .card-footer
                    span.text-muted= `${portfolio.title}`

      .row.justify-content-center
        .col-sm-10.text-center
          hr
          a(class='btn btn-primary disabled' href='') Show more portfolios (TBD)